.alert {
  padding: 0.75em;
  margin: 0.5em auto;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  width: fit-content;
  max-width: 80%;
}

.alert.error {
  background-color: #e6baba;
  color: #c91313;
  border: 1px solid #c91313;
}

.alert.success {
  background-color: #c1f5c1;
  color: #275e20;
  border: 1px solid #275e20;
}
