.home-page {
    padding: 2rem;
    text-align: center;
    background-color:rgb(141, 201, 141);
    width:100%;
    box-sizing: border-box;
    min-height: 100vh;
}

.home-info h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.lantern-images {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem
}
.lifecycle-stage img {
    width: 160px;
    border-radius: 20px;
}

.mission-statement h2 {
    font-size: xx-large;
    margin-bottom: 1rem;
}
.mission-statement p {
    font-size: large;
    margin-bottom: 1rem;
}