.resources-page h1 {
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.resources-page {
  text-align: center;
}

.page-layout h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.page-layout h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.page-layout h4 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.page-layout h5 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.reporting {
  max-width: 1000px;
  padding: 1rem;
  text-align: center;
  margin: 0 auto 1.5rem auto;
}

.identification {
  max-width: 1000px;
  padding: 1rem;
  text-align: center;
  margin: 0 auto 1.5rem auto;
}

.prevention {
  max-width: 1000px;
  padding: 1rem;
  text-align: center;
  margin: 0 auto 1.5rem auto;
}

.gallery {
  max-width: 300px;
  margin: 0 auto 2rem auto;
}
.gallery img {
  width: 90%;
}
.next-button {
  display: flex;
  gap: 0.1rem;
}
.links {
  max-width: 1000px;
  margin: 0 auto 2rem auto;
}
