.county-boundary {
    text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
  max-width: 500px;
}
.county-name {
  font-weight:1000;
  font-size: 1.3rem;
}